@font-face {
    src: local("Montserrat Regular"), url(../fonts/Montserrat-Regular.ttf);
    font-display: swap;
    font-family: "Montserrat Regular";
    font-weight: 400;
}

@font-face {
    src: local("Montserrat Bold"), url(../fonts/Montserrat-Bold.ttf);
    font-display: swap;
    font-family: "Montserrat Bold";
    font-weight: 700;
}

@font-face {
    src: local("Montserrat SemiBold"), url(../fonts/Montserrat-SemiBold.ttf);
    font-display: swap;
    font-family: "Montserrat SemiBold";
    font-weight: 600;
}

@font-face {
    src: local("UrbanSlavic"), url(../fonts/UrbanSlavic.otf);
    font-display: swap;
    font-family: "UrbanSlavic";
    font-weight: 600;
}

