body {
  min-inline-size: 320px;
  justify-items: center;
  min-block-size: 100dvh;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Montserrat Regular", sans-serif;
  font-weight: normal;
}

.button {
  min-block-size: fit-content;
  min-inline-size: fit-content;
  padding: 12px 20px;
  border-radius: 10px;
  border: #515b4f 3px solid;
  font-family: "Montserrat SemiBold", sans-serif;
}

.button:hover {
 scale: 0.95;
 opacity: 0.9;
 transition: 0.5s;
}

.book-button {
  background-color: #515b4f;
  color: #fff;
}

.about-button {
  background-color: #fff;

  color: #515b4f;
}

.main-title {
  inline-size: 100%;
  margin-block: 60px;
  font-size: clamp(10rem, 3.8462rem + 9.6154vw, 12.5rem);
  font-family: "UrbanSlavic", fantasy;
  color: #628267;
}

.title-opposite {
  text-align: end;
}

.subtitle {
  font-size: 60px;
  font-family: "UrbanSlavic", fantasy;
  color: #628267;
}

.header {
  inset: 0;
  inline-size: 100%;
  block-size: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  position: absolute;
  z-index: 1;
  padding: 10px 60px;
  background-color: #6c8268;
  font-size: clamp(0.75rem, 0.1346rem + 0.9615vw, 1rem);
  font-family: "Montserrat SemiBold", sans-serif;
  font-weight: 600;
  color: #fff;
}

.header__logo {
  max-height: 60px;
}

.header__nav {
  display: flex;
  gap: 20px;
  width: fit-content;
  height: fit-content;
}

.phone-block {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

.phone-number::before {
  content: url(../images/phone.svg);
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
}

.cover {
  inline-size: 100%;
  block-size: 100dvh;
  position: relative;
}

.cover__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cover__text {
  inset-block-end: 18dvw;
  inset-inline-start: 60px;
  position: absolute;
  z-index: 6;
  font-size: clamp(1.875rem, 0.3365rem + 2.4038vw, 2.5rem);
  color: #fff;
}

.cover__booking-anchor {
  inline-size: fit-content;
  inset-block-end: 2dvw;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 0;
  right: 0;
  font-size: clamp(1.5rem, 0.2692rem + 1.9231vw, 2rem);
  color: #fff;
}

.cover__icon {
  animation: ping 0.6s ease-in alternate infinite;
}

.booking {
  inline-size: 100%;
  min-block-size: 100dvh;
  padding-inline: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: clamp(1rem, 0.6923rem + 0.4808vw, 1.125rem);
}

.booking__form {
  margin-block-end: 40px;
  inline-size: fit-content;
  display: flex;
  gap: 20px;
}

.book-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-form {
  inline-size: 170px;
  min-width: 22px;
  min-height: 22px;
  padding: 10px;
  border: #515b4f 3px solid;
  border-radius: 10px;
  color: #000;
}

.calendar {
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.calendar:focus-visible {
  background-image: none;
}

.form__submit-button {
  align-self: flex-end;
}

.booking__widget {
  inline-size: 100%;
}

.booking__house-options-title {
  margin-block-end: 40px;
  text-align: center;
}

.booking__items-list {
  inline-size: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2%;
}

.booking__item {
  inline-size: fit-content;
  max-block-size: 400px;
  aspect-ratio: 2.5 / 1;
}

.booking__card {
  box-shadow: 0 5px 5px #333333;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: #515b4f 3px solid;
  border-radius: 10px;
  color: #000;
  overflow: hidden;
}

.booking__card-img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  max-block-size: 400px;
}

.booking__card-textblock {
  border-inline-start: #515b4f 3px solid;
  max-block-size: 100%;
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

.booking__card-specs {
  inline-size: 100%;
  display: flex;
  justify-content: space-around;
}

.booking__card__specs-places::before {
  content: url(../images/people.png);
  display: inline-block;
  max-height: 32px;
  padding-right: 15px;
  vertical-align: bottom;
}

.booking__card__specs-rooms::before {
  content: url(../images/home-black.png);
  display: inline-block;
  max-height: 32px;
  padding-right: 15px;
  vertical-align: bottom;
}

.booking__card__specs-space::before {
  content: url(../images/space.png);
  display: inline-block;
  max-height: 32px;
  padding-right: 15px;
  vertical-align: bottom;
}

.booking__card__features {
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
}

.booking__card__button-box {
  padding-block-end: 40px;
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.features {
  inline-size: 100%;
  padding-inline: 60px;
  min-block-size: 100dvh;
  background-image: url(../images/pinetree.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 70dvh;
}

.features__list {
  padding-block-start: 40px;
  max-inline-size: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 0 auto;
}

.features__item:nth-child(2n) {
  margin-inline-start: 15dvw;
}

.features__item {
  max-inline-size: 560px;
}

.features__item-textblock {
  margin-block-start: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.features__item-image {
  max-block-size: 128px;
}
.features__item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-wrap: balance;
  list-style: "- ";
}

.footer {
  inline-size: 100%;
  block-size: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 10px 60px;
  background-color: #6c8268;
  font-size: clamp(0.75rem, 0.1346rem + 0.9615vw, 1rem);
  font-family: "Montserrat SemiBold", sans-serif;
  font-weight: 600;
  color: #fff;
}

dialog {
  inset: 0;
  display: grid;
  position: fixed;
  transition: opacity 0.3s ease-in-out;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.book-dialog__textblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 20px;
}

.book-dialog__image {
  max-block-size: 500px;
}

.book-dialog__close-button {
  inset-inline-end: 10px;
  inset-block-start: 10px;
  position: absolute;
}

.book-dialog__close-button:hover {
  opacity: 50%;
}

.gallery {
  inline-size: 100%;
  min-block-size: 100dvh;
  padding-inline: 60px;
  padding-block-end: 60px;
margin: 0 auto;
}

.gallery__container {
max-width: 1200px;
margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(6, 200px);
  grid-template-columns: repeat(6, 200px);
  grid-auto-flow: dense;
  box-sizing: border-box;
}

.gallery__item {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  border: 3px #628267 solid;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.gallery__item:nth-child(8) {
  grid-row: 4 / -1;
  grid-column: 6 / -1;
}

.gallery__item:nth-child(7) {
  grid-row: 1 / 4;
  grid-column: 6 / -1;
}

.gallery__item:nth-child(5) {
  grid-row: 4 / -1;
  grid-column: 4 / 6;
}

.gallery__item:nth-child(1) {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery__item:nth-child(3) {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery__item:nth-child(2) {
  grid-row: span 3;
  grid-column: 3 / 6;
}

.gallery__item:nth-child(4) {
  grid-row: span 2;
  grid-column: 1 / 4;
}

@keyframes ping {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(30%);
  }
}

@keyframes opacity {
  from {
    opacity: 100%;
  }
  to {
    opacity: 60%;
  }
}

@keyframes scale {
  from {
    scale: 100%;
  }
  to {
    scale: 95%;
  }
}
