body {
  min-inline-size: 320px;
  justify-items: center;
  min-block-size: 100dvb;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.header {
  inset: 0;
  inline-size: 100%;
  block-size: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  position: absolute;
  z-index: 1;
  padding: 10px 60px;
  background-color: #6c8268;
  font-size: clamp(0.75rem, 0.1346rem + 0.9615vw, 1rem);
  font-family: "Montserrat SemiBold", sans-serif;
  font-weight: 600;
  color: #fff;
}

.header__logo {
  max-height: 60px;
}

.header__nav {
  display: flex;
  gap: 20px;
  width: fit-content;
  height: fit-content;
}

.phone-block {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

.phone-number::before {
  content: url(../images/phone.svg);
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
}

.book-button {
  min-block-size: fit-content;
  min-inline-size: fit-content;
  padding: 12px 20px;
  background-color: #515b4f;
  border-radius: 10px;
  font-family: "Montserrat SemiBold", sans-serif;
  color: #fff;
}

.book-button:hover {
  background-color: #566753;
  box-shadow: 0 5px 2px #515b4f;
}

.cover {
  inline-size: 100%;
  block-size: 100dvh;
  position: relative;
}

.cover__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cover__text {
  inset-block-end: 18dvw;
  inset-inline-start: 60px;
  position: absolute;
  z-index: 6;
  font-size: clamp(1.875rem, 0.3365rem + 2.4038vw, 2.5rem);
  color: #fff;
}

.cover__book-button {
  inline-size: fit-content;
  inset-block-end: 2dvw;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 0;
  right: 0;
  font-size: clamp(1.5rem, 0.2692rem + 1.9231vw, 2rem);
  color: #fff;
}

.cover__icon {
  animation: ping 0.6s ease-in alternate infinite;
}

.booking {
  inline-size: 100%;
  block-size: 100dvh;
  padding-inline: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: clamp(1rem, 0.6923rem + 0.4808vw, 1.125rem);
  background-image: url(../images/pinetree-high.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 40%;
}

.title-font {
  inline-size: 100%;
  margin-block: 60px;
  font-size: clamp(10rem, 3.8462rem + 9.6154vw, 12.5rem);
  font-family: "UrbanSlavic", fantasy;
  color: #628267;
}

.subtitle-font {
  font-size: 60px;
  font-family: "UrbanSlavic", fantasy;
  color: #628267;
}

.opposite {
  text-align: end;
}

.booking__form {
  margin-block-end: 40px;
  inline-size: fit-content;
  display: flex;
  gap: 20px;
}

.book-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-form {
  inline-size: 170px;
  min-width: 22px;
  min-height: 22px;
  padding: 10px;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  border: #515b4f 3px solid;
  border-radius: 10px;
  color: #000;
}

.input-form:focus-visible {
  background-image: none;
}

.form__submit-button {
  align-self: flex-end;
}

.booking__items-list {
  inline-size: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2%;
}

.booking__item {
  min-inline-size: clamp(300px, 32%, 800px);
  max-inline-size: clamp(300px, 50%, 800px);
  aspect-ratio: 1 /1;
  flex-grow: 1;
  border: #515b4f 3px solid;
  border-radius: 10px;
  box-shadow: 0 5px 5px #333333;
}

.booking__item:hover {
  transform: scale(103%);
  transition: 0.6s ease-in-out;
}

.booking__card {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #000 0%, transparent 100%);
}

.booking__card-textblock {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: flex-start;
  gap: 30px;
}

.booking__card-title {
  font-size: clamp(1.25rem, 0.0192rem + 1.9231vw, 1.75rem);
  font-family: "Montserrat SemiBold";
}

.booking__card-features {
  list-style: disc inside;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.features {
  inline-size: 100%;
  padding-inline: 60px;
  background-image: url(../images/pinecone.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 60%;
}

.features__list {
  padding-inline-start: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.features__item:nth-child(2n) {
  margin-inline-start: 10dvw;
}

.features__item {
  max-inline-size: 460px;
}

.features__item-textblock {
  margin-block-start: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.features__item-image {
  max-block-size: 128px;
}
.features__item-text {
  text-wrap: balance;
  list-style: "- ";
}

.showcase {
  inline-size: 100%;
  padding-inline: 60px;
  padding-block-end: 160px;
  background-image: url(../images/pinetree.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 50%;
}
.showcase__list {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.showcase__item {
  inline-size: fit-content;
  max-block-size: 400px;
  aspect-ratio: 12 / 5;
  border: #515b4f 3px solid;
  border-radius: 10px;
  box-shadow: 0 5px 5px #333333;
}

.showcase__card {
  display: flex;
  width: 100%;
  height: 100%;
  color: #000;
}

.showcase__card-img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  max-block-size: 400px;
}

.showcase__card-textblock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding-block: 20px;
}

.showcase__card-specs {
  margin-block-start: 20px;
  display: flex;
  align-items: center;
  gap: 3dvw;
  min-height: 54px;
  text-align: center;
}

.showcase__card__specs-places::before {
  content: url(../images/people.png);
  display: inline-block;
  max-height: 32px;
  padding-right: 15px;
  vertical-align: bottom;
}

.showcase__card__specs-rooms::before {
  content: url(../images/home-black.png);
  display: inline-block;
  max-height: 32px;
  padding-right: 15px;
  vertical-align: bottom;
}

.showcase__card__specs-space::before {
  content: url(../images/space.png);
  display: inline-block;
  max-height: 32px;
  padding-right: 15px;
  vertical-align: bottom;
}

.showcase__card__features {
  margin-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
}

.showcase__card__button-box {
  inline-size: 100%;
  padding-inline: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.white {
  background-color: #fff;
  border: 3px #628267 solid;
  color: #628267;
}

.white:hover {
  background-color: #628267;
  color: #fff;
}

.footer {
  inline-size: 100%;
  block-size: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 10px 60px;
  background-color: #6c8268;
  font-size: clamp(0.75rem, 0.1346rem + 0.9615vw, 1rem);
  font-family: "Montserrat SemiBold", sans-serif;
  font-weight: 600;
  color: #fff;
}

@keyframes ping {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(30%);
  }
}